*{
  padding: 10px auto;
  margin: 0px auto;
}

body{
  /*background-color: #0000cd;*/
  background: linear-gradient(to right, #0000cd, red, blue);
  text-align: center;
  padding-top: 4%;
  padding-bottom: 6%;
}

.tagline {
  /*margin-top: auto;*/
  padding-top: 1.5%;
  font-size: 2.5em;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
}

img{
    max-height: 30%;
    max-width: 30%;
}

.img{
  text-align: center;
}

.form{
  padding-top: 3%;
  text-align: center;

}

form input{

  border: solid #0000cd 3px;
  font-size: 2em;

}

form button{

  border: solid #0000cd 0px;
  font-size: 40px;
}

form button:hover{
 box-shadow: 3px 3px 5px black;
}

form button:active{
 box-shadow: 2px 2px 1px black;
  background-color: #0000cd;
  color: white;
}

.fa-search{
  font-size: 42px;
}
